/*-- scss:defaults --*/
// Grayscale
$white:                       #fff !default;
$gray-100:                    #f3f6ff !default;
$gray-200:                    #eff2fc !default;
$gray-300:                    #e2e5f1 !default;
$gray-400:                    #d4d7e5 !default;
$gray-500:                    #b4b7c9 !default;
$gray-600:                    #9397ad !default;
$gray-700:                    #565973 !default;
$gray-800:                    #33354d !default;
$gray-900:                    #0b0f19 !default;
$black:                       #000 !default;
$primary:                     #6366f1 !default;
$border-color: rgba($white, .14) !default;
$border-light-color: rgba($white, .14) !default;
$font-family-base: "frutiger-light,sans-serif";
$font-family-code: 'Space Mono', monospace;
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/*-- scss:rules --*/
.nav-item {
  text-transform: uppercase;
}

// header font
h1, h2, h3, h4, h5, h6 {
  font-family: "frutiger-thin","Helvetica Neue",sans-serif;
  font-weight: 300;
}

// rounded post cards
#listing-blog .quarto-grid-item.card {
  border-radius: 0.5rem;
}

#listing-blog .thumbnail-image.card-img {
  border-radius: 0.5rem 0.5rem 0px 0px;
}

// body font
@font-face {
    font-family: "frutiger-light";
    src: url("https://cynkra.com/assets/css/fonts/6135829/b05d44ef-6a78-4aa4-9388-3f0e05252a48.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: fallback
}

// header font
@font-face {
    font-family: "frutiger-thin";
    src: url("https://cynkra.com/assets/css/fonts/1449009/b3ca2df2-7bee-4fc0-84cb-b029b99c3b61.woff2") format("woff2");
    font-weight: normal;
    font-style: normal
}


/* copy-paste button ---------------------------------------------------------*/
.btn.btn-primary.btn-copy-ex {
	color: white;
}

/* cynkra logo classes  ----------------------------------------------------- */

#cynkra-logo-footer {
  height: 20px;
  padding-bottom: 2px;
  padding-left: 2px;
}

#cynkra-logo-nav {
  height: 25px;
  padding-right: 20px;
  padding-bottom: 2px;
}

